*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
}

a {
  text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none;
  }
}
